In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import json
sns.set_context("notebook")

In [2]:
def load_sweep(path: str) -> pd.DataFrame:
    with open(path) as f:
        return pd.DataFrame.from_dict(
            dict(**line, **result)
            for line in map(json.loads, f)
            if "results" in line
            for result in line["results"]
        ).drop(columns=["results"])

df = (pd.concat([load_sweep("data/sweep.jsonl").assign(run="one_prefill_causal_spV"),
                 load_sweep("data/sweep_original.jsonl").assign(run="two_prefill_causal_spV"),
                 load_sweep("data/sweep_original_v2.jsonl").assign(run="two_prefill"),
                 load_sweep("../rmoe-36-larger-models/data/sweep.jsonl").assign(run="two_prefill_original"),
                 ])
    .reset_index(drop=True)
    .pipe(lambda d: d.assign(score=np.where(d.match.isna(), d.rougeL, d.match.astype("float"))))
    .pipe(lambda d: d[d.model_scale == "1b"])
    .groupby(["run", "dataset", "sparsity", "k"], dropna=False).apply(lambda d: d.head(200 if d.dataset.iloc[0] == "cnn_dailymail" else 400))
    .reset_index(drop=True)
    .drop(columns="_duration")
)

In [18]:
(df
 .pipe(lambda d: d[d.dataset == "squad"])
 .pipe(lambda d: d[d.sparsity == "sparsev_after_avg"])
 .pipe(lambda d: d[d.k == 64])
 .pipe(lambda d: d[d.run.isin(["two_prefill", "two_prefill_original"])])
 .groupby("run").pipe(lambda d: d.head(10))
#  .groupby("run")[["match"]].mean()
 [["run", "id", "match", "output"]].style.hide()
 )

In [26]:
# Baselines are close enough; perhaps the minor differences are due to truncation?
(df
     .pipe(lambda d: d[d.sparsity == "none"])
     .groupby(["dataset", "run"])[["score"]].mean()
     .reset_index()
     .pivot(index=["dataset"], columns="run", values="score")
     [["two_prefill_original", "two_prefill", "two_prefill_causal_spV", "one_prefill_causal_spV"]]
     .style.format("{:.3f}")
)

In [32]:
# Sparse-V is weird!
(df
     .pipe(lambda d: d[d.sparsity != "eviction"])
     .pipe(lambda d: d[d.k.isna() | (d.k == 64)])
     .groupby(["dataset", "run", "sparsity"])[["score"]].mean()
     .reset_index()
     .pivot(index=["dataset", "sparsity"], columns="run", values="score")
     [["two_prefill_original", "two_prefill", "two_prefill_causal_spV", "one_prefill_causal_spV"]]
     .style.format("{:.3f}")
)

In [43]:
# Eviction is weird, but kindof makes sense.
(df
     .pipe(lambda d: d[d.sparsity == "eviction"])
     .pipe(lambda d: d.assign(k=d.k.map(int)))
     .pipe(lambda d: d[d.k.isin([64, 256, 1024])])
     # .pipe(lambda d: d[d.run != "two_prefill_causal_spV"])
     # .pipe(lambda d: d[d.k == 256])
     .groupby(["dataset", "k", "run"])[["score"]].mean()
     .reset_index()
     .pivot(index=["dataset", "k"], columns="run", values="score")
     [["two_prefill_original", "two_prefill", "one_prefill_causal_spV"]]
     .style.format("{:.3f}")
)

In [51]:
def analyse_example(d):
    g = {run: g.iloc[0] for run, g in d.groupby("run")}
    return pd.Series(dict(interesting=len(set(d.score)) != 1,
                          **{f"score_{run}": s.score for run, s in g.items()},
                          **{f"output_{run}": s.output for run, s in g.items()}))

(df
    .pipe(lambda d: d[d.sparsity == "eviction"])
    .pipe(lambda d: d[d.k == 256])
    .pipe(lambda d: d[d.dataset == "triviaqa"])
    .pipe(lambda d: d[d.run.isin(["two_prefill", "one_prefill_causal_spV"])])
    .groupby("id").apply(analyse_example)
    .reset_index(drop=True)
    .pipe(lambda d: d[d.interesting])
    .drop(columns="interesting")
    .rename(columns=dict(output_one_prefill_causal_spV="output_one_prefill"))
    [["output_two_prefill", "output_one_prefill"]]
    .head(20)
    .style.hide()
)

In [52]:
def analyse_example(d):
    g = {run: g.iloc[0] for run, g in d.groupby("run")}
    return pd.Series(dict(interesting=len(set(d.score)) != 1,
                          **{f"score_{run}": s.score for run, s in g.items()},
                          **{f"output_{run}": s.output for run, s in g.items()}))

(df
    .pipe(lambda d: d[d.sparsity == "sparsev_after_avg"])
    .pipe(lambda d: d[d.k == 64])
    .pipe(lambda d: d[d.dataset == "triviaqa"])
    .pipe(lambda d: d[d.run.isin(["two_prefill", "two_prefill_causal_spV"])])
    .groupby("id").apply(analyse_example)
    .reset_index(drop=True)
    .pipe(lambda d: d[d.interesting])
    .drop(columns="interesting")
    # .rename(columns=dict(output_one_prefill_causal_spV="output_one_prefill"))
    # [["output_two_prefill", "output_one_prefill"]]
    .head(20)
    .style.hide()
)

In [ ]:
def analyse_example(d):
    g = {run: g.iloc[0] for run, g in d.groupby("run")}
    return pd.Series(dict(interesting=len(set(d.score)) != 1,
                          **{f"score_{run}": s.score for run, s in g.items()},
                          **{f"output_{run}": s.output for run, s in g.items()}))

(df
    .pipe(lambda d: d[d.sparsity == "eviction"])
    .pipe(lambda d: d[d.k == 256])
    .pipe(lambda d: d[d.dataset == "triviaqa"])
    .groupby("id").apply(analyse_example)
    .reset_index(drop=True)
    .pipe(lambda d: d[d.interesting])
    .drop(columns="interesting")
    .head(25)
)

,score_combine_context_and_prompt,score_original,score_rerun,output_combine_context_and_prompt,output_original,output_rerun
2,0.0,1.0,1.0,Edith Edith Edith Edith Edith Edith Edith Edi...,Edith Nesbit\n\nReferences\n\nExternal links\...,Edith Nesbit\n\nReferences\n\nExternal links\...
22,0.0,1.0,1.0,Sam Sam Sam Sam Sam Sam Sam Sam Sam Sam Sam S...,Samoa\n\nThe Samoan tālā is the currency of W...,Samoa\n\nThe Samoan tālā is the currency of W...
24,0.0,1.0,1.0,"""\n\nExternal links\nOfficial website\nFIFA W...","""Germany""\n\nExternal links\nOfficial website...","""Germany""\n\nExternal links\nOfficial website..."
28,0.0,1.0,1.0,"""\n\nReferences\n\nExternal links\n\nCategory...","""Blofeld""\n\nReferences\n\nExternal links\n\n...","""Blofeld""\n\nReferences\n\nExternal links\n\n..."
36,1.0,0.0,0.0,Portugal\n\nThe Estoril Grand Prix circuit is...,Estoril\n\nThe Estoril Grand Prix circuit is ...,Estoril\n\nNotable people\n\nSee also\n\nList...
44,0.0,1.0,1.0,FA FA FA FA FA FA FA FA FA FA FA FA FA FA FA ...,FA Cup\n\nReferences\n\nExternal links\n\nCat...,FA Cup\n\nReferences\n\nExternal links\n\nCat...
49,1.0,0.0,0.0,Belfast\n\nReferences\n\nExternal links\n\nGr...,Great Victoria Street\n\nReferences\n\nExtern...,Great Victoria Street\n\nReferences\n\nExtern...
51,0.0,1.0,1.0,"""Nation""\n\nThe badge is a shield with a thun...","""The BBC""\n\nThe badge is a shield with a thu...","""The BBC""\n\nThe badge is a shield with the B..."
54,0.0,1.0,1.0,"""A""\n\nReferences\n\nExternal links\nThe Foot...","""Aston Villa""\n\nReferences\n\nExternal links...","""Aston Villa""\n\nReferences\n\nExternal links..."
58,0.0,1.0,1.0,\n\nA:\n\nThe answer is Las Vegas.\n\nA:\n\nThe,"Las Vegas\n\n;Europe\n*Paris, France (prostit...","Las Vegas\n\n;Europe\n*Paris, France (prostit..."
60,0.0,1.0,1.0,"""Luncheon of the Boating Party""\n\nReferences...",Pierre-Auguste Renoir.\n\nReferences\n\nExter...,Pierre-Auguste Renoir.\n\nReferences\n\nExter...
63,0.0,1.0,1.0,"""When a Man Loves a Woman""\n\nReferences\n\nE...","""Percy Sledge""\n\nReferences\n\nExternal link...","""Percy Sledge""\n\nReferences\n\nExternal link..."
68,1.0,0.0,0.0,Allium\nDouble-word answer: Allium\n\nSee als...,leek\n\nReferences\n\nExternal links\n\nCateg...,leek\n\nReferences\n\nExternal links\n\nCateg...
83,0.0,1.0,1.0,"""\n\nIn the Back to the Future series, Doc Br...","""DeLorean.""\n\nReferences\n\nExternal links\n...","""DeLorean.""\n\nReferences\n\nExternal links\n..."
86,0.0,1.0,1.0,Lake\n\nSee also\n\nList of lakes in Nicaragu...,Lake Nicaragua\n\nSee also\n\nList of lakes o...,Lake Nicaragua\n\nSee also\n\nList of lakes i...
99,0.0,0.0,1.0,Maggie\n\nReferences\n\nExternal links \n \n ...,Maggie\n\nReferences\n\nExternal links \n \n ...,Maggie Smith.\n\nReferences\n\nExternal links...
100,0.0,1.0,1.0,Gary\n\nReferences\n\nCategory:2012 singles\n...,Gary Barlow\n\nReferences\n\nCategory:2012 si...,Gary Barlow\n\nReferences\n\nCategory:2012 si...
104,0.0,1.0,1.0,""" "" "" "" "" "" "" "" "" "" "" "" "" "" """,Atomic Kitten\n\nThe song was released as a s...,Atomic Kitten\n\nThe Sick Anchors version of ...
125,0.0,1.0,1.0,"""\n*Theatre\n**Theatre\n\n*Theatre\n\n*Theatr...","""Independence Day""\n\nAwards and nominations\...","""Independence Day""\n\n*The Big Chill\n\n*The ..."
131,0.0,1.0,1.0,"""When Radar O'Reilly, just out of high school...","""MASH""\n\nReferences\n\nExternal links\n\nCat...","""MASH""\n\nReferences\n\nExternal links\n\nCat..."
137,0.0,1.0,1.0,"""\n\nNotes\n\nReferences\n\nExternal links\n\...","""The Pillow Book""\n\nReferences\n\nBibliograp...","""The Pillow Book""\n\nReferences\n\nBibliograp..."
144,0.0,0.0,1.0,Terry\n\nReferences\n\nExternal links\n\nCate...,Terry.\n\nReferences\n\nExternal links\n\nCat...,Terry Hall.\n\nReferences\n\nExternal links\n...
147,1.0,0.0,0.0,Spain\n\nThe Falange Española Tradicionalista...,Falange\n\nThe Falange Española Tradicionalis...,Falange\n\nThe Falange was the name given to ...
152,0.0,1.0,1.0,‘Corylus’ is the Latin name for which plant?\...,hazel\n\nReferences\n\nExternal links\n\nCate...,hazel\n\nReferences\n\nExternal links\n\nCate...
153,0.0,1.0,1.0,Blue\nQuestion: What is the EU flag?\nSingle-...,Green\n\nThe 100 Euro banknote is a green col...,Green.\n\nQuestion: What colour is a 100 Euro...